/* ====================
=======Structure======
======================*/

body{
    background-color: hsla(202, 86%, 57%, 0.562);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    justify-content: space-between;
}

main{
    margin: 2rem 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

/*====================
========Columns=======
======================*/

/* ponemos todos los elementos 
por orden de aparición en el html 
-pensar bien a qué le damos CSS.
A qué caja. 
Por ejemplo:
display inline: se da a las cajas
display flex: se da a la caja que contiene las cajas.
*/

.desktop-five-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-five-columns .column{
    width: 18%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}


.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

/* las etiquetas css con punto 
se refiere a una caja.
si la etiqueta no tiene caja, por ejemplo:
-span
-text area
-label
-img

algunas se ponen 
al final de la misma
etiqueta de la label
  */
.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(251, 86%, 36%);
}

h1, h2, h3, h4 {
    font-family: 'Cinzel', semi-bold;
}

h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

a, td, p, button, span, label{
    font-family: 'Work Sans', sans-serif;
    color: hsl(270, 3%, 14%);
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
    margin-top: 0.8em;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h3 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    color: hsl(276, 79%, 55%);
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
=======Header=========
======================*/

.logo, .title, .menu{
    margin: auto 0;
}

.logo-title{
    display: flex;
    justify-content: start;
}

.logo-title h1{
    font-size: 2em;
}

.logo img{
    height: 7em;
    width: 7em;
}

.title{
    margin-left: 1em;
}

.title-h1{
    text-align: center;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    color: hsl(246, 83%, 37%);
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0.5em;
}

/*====================
=======Home=========
======================*/

/* .slider-video{
    margin: 0 auto;
    width: 80%;
} 

.slider-video video{
    width: 100%;
} */

.home{
    border: 1rem solid hsl(0, 0%, 100%);
    border-radius: 0.4em;
    width: 98%;
}

.home-slider{
    width: 100%;
} 

.home-featured{
    background-color: hsl(0, 0%, 100%);
    padding: 0 5%;
    width: 90%;
}

.home-featured-title{
    text-align: center;
    padding: 2em 0;
}

.home-featured-title h2{
    text-align: center;
}

.home-featured-element-title{
    margin-bottom: 1em;
    width: 100%;
}

.home-featured-element-title h3{
    text-align: center;
    margin: 0.5em;
    font-size: 1.5em;
}

/* .home-featured-four-columns{
    text-align: center;
} */

/*====================
===Sinopsis/Portada====
======================*/

.sinopsis{
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    display: flex;
    padding: 4em 5%;
    justify-content: space-between;
}

.sinopsis-description p{
    font-size: 1.4em;
    text-align: justify;
}

/*====================
=======Product=========
======================*/

.product-title{

}

.product-author{
    font-size: 1.4em;
    text-align: center;
    margin: 3% 3%;

}

.product-price{

}

.product-description{

}

.product-quantity{
    margin: 1rem 0;
    width: 30%;
}

.product-quantity-title{
    padding: 0.2rem 0;
}

.product-quantity-title span{
    font-weight: 600;
}

.product-quantity-button{
    display: flex;
    justify-content: left;
    width: max-content
}

.product-quantity-button-element{
    width: 15%;
}

.product-quantity-button-element input{
    text-align: center;
    background-color: white;
    border: 0;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
}

.product-quantity-button-element button{
    background-color: white;
    border: 0;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
}

.product-add-to-cart{
    margin-left: auto;
    width: max-content;

}

.product-add-to-cart button{

}



/*====================
=======Contacto=======
======================*/

.contact{
    width: 100%;
}

.contact-title{
    margin: 3em 0;
}

.contact-title h2{
    text-align: center;
}

.contact-elements{
    margin-left: 10%;
}

.contact-element{
    margin-bottom: 1.5rem;
}

.contact-element-icon{
    display: inline;
    margin-right: 1.5rem;
}

.contact-element-icon svg{
    width: 3rem;
}

.contact-element-icon svg path{
    fill: hsl(251, 72%, 48%);
}

.contact-element-text{
    display: inline;
}

.contact-element-text span{
    color: hsl(251, 86%, 36%);
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-form-element{
    margin-bottom: 1rem;
}

.contact-form-element-label{
    margin-bottom: 0.5rem;
}

.contact-form-element-label label{
    color: hsl(251, 86%, 36%);
    font-size: 1.2rem;
    font-weight: 600;
}

.contact-form-element-input input{
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 2%;
    width: 96%;
}

.contact-form-element-input input:focus{
    outline: none;
}

input textarea{
    border: none;
    border-radius: 0.5rem;
    height: 15vh;
    padding: 0.3rem 2%;
    width: 96%;
}

.contact-form-element-input textarea:focus{
    outline: none;
}

.contact-form-element-button{
    float: right;
}

.contact-form-element-button button{
    background-color: hsl(251, 86%, 36%);
    border-radius: 0.5rem;
    color:hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Arial';
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.contact-form-element-button button:hover{
    background-color: hsl(251, 50%, 52%);
}

/*====================
=======Footer=========
======================*/

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}


@media (max-width: 479px) {

        /*====================
    ========Columns=======
    ======================*/ 

    .mobile-four-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-four-columns .column{
        width: 22%;
    }

    .mobile-three-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-three-columns .column{
        width: 30%;
    }

    .mobile-three-columns-start{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .mobile-three-columns-start .column{
        width: inherit;
    }

    
    .mobile-two-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-two-columns .column{
        width: 48%;
    }

    .desktop-two-columns-aside .column-aside{
        display: none;
    }

    .mobile-two-columns-aside .column-main{
        width: 100%;
    }

    .mobile-one-column-reverse{
        flex-direction: column-reverse;
    }

    .mobile-one-column-reverse .column{
        width: 100%;
    }

    .mobile-one-column{
        flex-direction: column;
        width: 100%;
    }

    .mobile-one-column .column{
        width: 100%;
    }

    .mobile-one-column-inline{
        display: inherit;
        width: 100%;
    }
    
    .mobile-one-column-inline .column{
        border-bottom: 1px solid hsl(0, 0%, 87%);
        display: flex;
        margin-bottom: 1em;
        width: 100%;
    }
    
    .mobile-one-column-inline .column div{
        display: inherit;
        margin-right: 1em;
        width: 100%;
    }

    /*====================
    =======Header=========
    ======================*/


    .logo-title {
        display: block;
        margin-left: 0.2em;
        width: 100%;
    }

    .logo-title h1 {
        font-size: 1.2em;
        text-align: center;
    }

    .logo{
        margin: 0 auto;
        width: max-content;
    }

    .logo img{
        height: 8em;
        width: 8em;
    }

    .title{
        margin: 0;
        width: 100%;
    }
    
    .menu{
        display: none;
    }

   /*====================
    =======Home==========
    ======================*/

    .home {
        border: 0.5rem solid hsl(0, 0%, 100%);
        width: 95%;
    }

    .home-featured-title {
        padding: 2em 0;
    }

    .home-featured-element{
        padding-bottom: 2rem;
    }

    .sinopsis-descripcion{
        margin-bottom: 2em;
        width: 100%;
    }

    .sinopsis {
        padding: 1em 5%;
    }

    .sinopsis-description p{
        font-size: 1.1rem;
        text-align: justify;
    }
    
    .sinopsis-image{
        padding-bottom: 3rem;
    }
}