/*====================
=======Structure======
======================*/

body{
    background-color: rgba(50, 170, 240, 0.562);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

main{
    margin: 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(251, 86%, 36%);
}

h1, h2, h3, h4 {
    font-family: "Lora";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h3 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
=======Header=========
======================*/

.logo, .titulo, .menu{
    margin: auto 0;
}

.logo-titulo{
    display: flex;
    justify-content: start;
}

.logo-titulo h1{
    font-size: 1.5em;
}

.logo img{
    height: 6em;
    width: 6em;
}

.titulo{
    margin-left: 1em;
}

.titulo-h1{
    text-align: center;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    color: hsl(246, 83%, 37%);
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0.5em;
}

/*====================
=======Slider=========
======================*/


/*====================
=======Destacados=====
======================*/

.destacados-titulo{
    margin: 2em 0;
}

.destacados-titulo h2{
    text-align: center;
}

.destacados-fichas {
    display: flex;
    justify-content: space-between;
}

.destacados-ficha{
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px 3px rgba(69, 96, 185, 0.8);
    margin: 0 1em;
    padding: 1em;
    width: 25%;
}

.destacados-ficha-titulo{
    margin-bottom: 1em;
    width: 100%;
}

.destacados-ficha-titulo h3{
    text-align: center;
}

/*====================
=======WhoIAm=========
======================*/

/*====================
=======Footer=========
======================*/

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}

@media (min-width: 1920px) {

}


@media (max-width:1024px) {

}

@media (max-width:479px) {

  
}