/* ====================
=======Structure======
======================*/

body{
    background-color: hsla(202, 86%, 57%, 0.562);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

main{
    margin: 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

/*====================
========Columns=======
======================*/

/* ponemos todos los elementos 
por orden de aparición en el html 
-pensar bien a qué le damos CSS.
A qué caja. 
Por ejemplo:
display inline: se da a las cajas
display flex: se da a la caja que contiene las cajas.
*/

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

/* las etiquetas css con punto 
se refiere a una caja.
si la etiqueta no tiene caja, por ejemplo:
-span
-text area
-label
-img

algunas se ponen 
al final de la misma
etiqueta de la label
  */
.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(251, 86%, 36%);
}

h1, h2, h3, h4 {
    font-family: "Lora";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button, span, label{
    font-family: "Ubuntu";
    color: hsl(270, 3%, 14%);
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h3 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    color: hsl(276, 79%, 55%);
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
=======Header=========
======================*/

.logo, .titulo, .menu{
    margin: auto 0;
}

.logo-titulo{
    display: flex;
    justify-content: start;
}

.logo-titulo h1{
    font-size: 1.5em;
}

.logo img{
    height: 6em;
    width: 6em;
}

.titulo{
    margin-left: 1em;
}

.titulo-h1{
    text-align: center;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    color: hsl(246, 83%, 37%);
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0.5em;
}

/*====================
=======Slider=========
======================*/

/* .slider-video{
    margin: 0 auto;
    width: 80%;
} 

.slider-video video{
    width: 100%;
} */

.slider-img{
    width: 100%;
} 

/*====================
=======Destacados=====
======================*/

.destacados-titulo{
    margin: 2em 0;
}

.destacados-titulo h2{
    text-align: center;
}

.destacados-fichas {
    display: flex;
    justify-content: space-between;
}

.destacados-ficha{
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5em;
    box-shadow: 1.5px 1.5px 8px 1.5px rgba(69, 96, 185, 0.8);
    margin: 0 1em;
    padding: 1em;
    width: 25%;
}

.destacados-ficha-titulo{
    margin-bottom: 1em;
    width: 100%;
}

.destacados-ficha-titulo h3{
    text-align: center;
    margin: 0.5em;
    font-size: 1.5em;
}

/*====================
===Sinopsis/Portada====
======================*/

.sinopsis{
    width: 100%;
    display: flex;
    margin: 4em 0;
    justify-content: space-between;
}

.sinopsis-descripcion{
    width: 45%;
}

.sinopsis-descripcion p{
    font-size: 1.4em;
    text-align: left;
}

.sinopsis-imagen{
   width: 45%;
}   

/*====================
=======Contacto=======
======================*/

.contact{
    width: 100%;
}

.contact-title{
    margin: 3em 0;
}

.contact-title h2{
    text-align: center;
}

.contact-elements{
    margin-left: 10%;
}

.contact-element{
    margin-bottom: 1.5rem;
}

.contact-element-icon{
    display: inline;
    margin-right: 1.5rem;
}

.contact-element-icon svg{
    width: 3rem;
}

.contact-element-icon svg path{
    fill: hsl(251, 72%, 48%);
}

.contact-element-text{
    display: inline;
}

.contact-element-text span{
    color: hsl(251, 86%, 36%);
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-form-element{
    margin-bottom: 1rem;
}

.contact-form-element-label{
    margin-bottom: 0.5rem;
}

.contact-form-element-label label{
    color: hsl(251, 86%, 36%);
    font-size: 1.2rem;
    font-weight: 600;
}

.contact-form-element-input input{
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 2%;
    width: 96%;
}

.contact-form-element-input input:focus{
    outline: none;
}

.contact-form-element-input textarea{
    border: none;
    border-radius: 0.5rem;
    height: 15vh;
    padding: 0.3rem 2%;
    width: 96%;
}

.contact-form-element-input textarea:focus{
    outline: none;
}

.contact-form-element-button{
    float: right;
}

.contact-form-element-button button{
    background-color: hsl(251, 86%, 36%);
    border-radius: 0.5rem;
    color:hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Arial';
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.contact-form-element-button button:hover{
    background-color: hsl(251, 50%, 52%);
}

/*====================
=======Footer=========
======================*/

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}


@media (max-width: 479px) {

     /*====================
    ========Columns=======
    ======================*/

    .mobile-one-column{
        width: 100%;
    }

    .mobile-one-column .column{
        width: 100%;
    }

    .mobile-one-column-inline{
        display: inherit;
        width: 100%;
    }
    
    .mobile-one-column-inline .column{
        border-bottom: 1px solid hsl(0, 0%, 87%);
        display: flex;
        margin-bottom: 1em;
        width: 100%;
    }
    
    .mobile-one-column-inline .column div{
        display: inherit;
        margin-right: 1em;
        width: 100%;
    }

    .mobile-two-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-two-columns .column{
        width: 48%;
    }

    .desktop-two-columns-aside .column-aside{
        display: none;
    }

    .mobile-two-columns-aside .column-main{
        width: 100%;
    }

    .mobile-three-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-three-columns .column{
        width: 30%;
    }

    .mobile-three-columns-start{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .mobile-three-columns-start .column{
        width: inherit;
    }

    .mobile-four-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-four-columns .column{
        width: 22%;
    }


    .logo img{
        height: 6em;
        width: 8em;
    }

    .menu{
        display: none;
    }

    .titulo{
        margin-top: 1em;
    }

    .destacados-fichas{
        display: block;
    }

    .destacados-ficha{
        margin: 2em 0;
        width: 90%;
    }

    .sinopsis{
        display: block;
    }

    .sinopsis-descripcion{
        margin-bottom: 2em;
        width: 100%;
    }

    .sinopsis-descripcion p{
        text-align: justify;
    }
    
    .sinopsis-imagen{
        width: 100%;
    }
}